certifi
cffi
cryptography
dj-database-url
decorator
mccabe
psycopg2
pycodestyle
pycparser
pydocstyle
pyflakes
pylama
pyTelegramBotAPI
python-telegram-bot
requests
six
snowballstemmer
telebot-calendar
tornado
wincertstore